[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-heroku = "*"
django-csp = "*"
django-debug-toolbar = "*"
django-robots = "*"
django-redis = "*"
djangorestframework = "*"
djangorestframework-yaml = "*"
djangorestframework-xml = "*"
drf-spectacular = "==0.11.1"
dj-database-url = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-cov = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
aiohttp = "*"
flashtext = "*"
environs = "*"
jinja2 = "*"
bs4 = "*"

[requires]
python_version = "3.9.0"
