[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-heroku = "*"
bs4 = "*"
uvicorn = "*"
aiohttp = "*"
lxml = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
pytest-django = "*"
django-csp = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
django-robots = "*"
flashtext = "*"
django-bmemcached = "*"
python-binary-memcached = "*"
jinja2 = "*"

[requires]
python_version = "3.8.3"
