[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"

[packages]
aiohttp = "*"
bs4 = "*"
dj-database-url = "*"
django = "*"
django-csp = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-redis = "*"
django-robots = "*"
djangorestframework = "*"
djangorestframework-xml = "*"
djangorestframework-yaml = "*"
drf-spectacular = "==0.13.1"
environs = "*"
flashtext = "*"
gunicorn = "*"
jinja2 = "*"
psycopg2-binary = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"
uvicorn = {extras = ["standard"], version = "*"}
whitenoise = {extras = ["brotli"], version = "*"}
fake-useragent = "*"
django-otp = "*"
qrcode = "*"
sqreen = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
