[tool.black]
exclude = '''
(
  /(
      \.mypy_cache
    | \.pytest_cache
    | migrations
  )/
)
'''
line-length = 119

[tool.flake8]
exclude = [".mypy_cache", ".pytest_cache", "migrations"]
max-line-length = 119

[tool.isort]
profile = "black"
skip_glob = [".mypy_cache", ".pytest_cache", "migrations"]

[tool.mypy]
plugins = "pydantic.mypy"

[tool.poetry]
authors = ["Evgeni Sautin <evgeni.sautin@gmail.com>"]
description = "Find the skills you need to get a job in IT"
license = "MIT"
name = "SkillHunter"
version = "2.0.0"

[tool.poetry.dependencies]
Brotli = "^1.0.9"
Django = "^3.2.3"
Faker = "^8.1.4"
Jinja2 = "^3.0.0"
aiohttp = "^3.7.4"
bs4 = "^0.0.1"
dj-database-url = "^0.5.0"
django-csp = "^3.7"
django-debug-toolbar = "^3.2.1"
django-heroku = "^0.3.1"
django-otp = "^1.0.5"
django-redis = "^4.12.1"
djangorestframework = "^3.12.4"
djangorestframework-xml = "^2.0.0"
djangorestframework-yaml = "^2.0.0"
drf-spectacular = "^0.16.0"
fastapi = "^0.65.2"
flashtext = "^2.7"
gunicorn = "^20.1.0"
httptools = "^0.2.0"
psycopg2-binary = "^2.8.6"
python = "^3.9"
qrcode = "^6.1"
requests = "^2.25.1"
selenium = "^3.141.0"
sentry-sdk = "^1.1.0"
uvicorn = "^0.13.4"
uvloop = "^0.15.2"
whitenoise = "^5.2.0"

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = "^21.5b1"
flake9 = "^3.8.3"
isort = "^5.8.0"
mypy = "^0.812"
pylint = "^2.8.2"
pylint-django = "^2.4.4"
pytest-cov = "^2.12.0"
pytest-django = "^4.3.0"
pytest-xdist = "^2.2.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
