{% extends "_base.html" %}

{% block title %}404 error • SkillHunter{% endblock title %}
{% block description %}You've tried to reach the page that no longer exists or never was – that's why you've got a 404
Not Found error.{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">Oops!</h1>
<p class="text-center text-gray-600 pb-8">There's nothing here... How about trying again on the home page?</p>
<div class="text-center">
    <a class="bg-transparent hover:bg-fuchsia-500 text-fuchsia-500 hover:text-white py-2 px-4 border border-fuchsia-500 hover:border-transparent rounded-full shadow-lg shadow-fuchsia-500/20 hover:shadow-2xl hover:shadow-fuchsia-500/50 transition ease-in duration-200"
        href="{{ url ('home') }}" role="button">Try
        again</a>
</div>
{% endblock content %}
