{% extends "_base.html" %}

{% block title %}404 error{% endblock title %}
{% block description %}You've tried to reach the page that no longer exists or never was – that's why you've got a 404
Not Found error.{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">Oops!</h1>
<p class="text-center text-gray-600 pb-8">There's nothing here... How about trying again on the home page?</p>
<div class="text-center">
    <a class="bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-2 px-4 border border-purple-600 hover:border-transparent rounded-full shadow-lg hover:shadow-2xl transition ease-in duration-200"
        href="{{ url ('home') }}" role="button">Try
        again</a>
</div>
{% endblock content %}