{% extends "_base.html" %}

{% block title %}500 error • SkillHunter{% endblock title %}
{% block description %}500 Internal Server Error appeared because the server encountered an unexpected condition that
prevented it from fulfilling the request.{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">Damn!</h1>
<p class="text-center text-gray-600 pb-8">Server's just crashed... This bloody machine makes us ashamed all the
    time. How about trying again on the home page?</p>
<div class="text-center">
    <a href="{{ url ('home') }}"
        class="bg-transparent hover:bg-fuchsia-500 text-fuchsia-500 hover:text-white py-2 px-4 border border-fuchsia-500 hover:border-transparent rounded-full shadow-lg shadow-fuchsia-500/20 hover:shadow-2xl hover:shadow-fuchsia-500/50 transition ease-in duration-200"
        role="button">Try again</a>
</div>
{% endblock content %}
