<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Evgeni Sautin">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %}SkillHunter{% endblock title %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static ('images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" sizes="32x32" href="{{ static ('images/favicon/favicon-32x32.png') }}">
    <link rel="icon" sizes="16x16" href="{{ static ('images/favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ static ('images/favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ static ('images/favicon/site.webmanifest') }}">
    <link rel="stylesheet" href="{{ static ('css/tailwind.min.css') }}">
    {% if url ('swagger-ui') in request.path %}
    <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@3.50.0/swagger-ui.css">
    <script src="https://unpkg.com/swagger-ui-dist@3.50.0/swagger-ui-bundle.js"></script>
    {% endif %}
    <link rel="stylesheet" href="{{ static ('css/_base.css') }}">
</head>

<body>

    <header class="z-30 relative">
        <nav class="flex flex-wrap fixed bg-white shadow-lg p-5 w-full">
            <div class="flex-grow text-center lg:text-left text-purple-600">
                <a href="{{ url ('home') }}" class="text-xl">SkillHunter</a><a href="{{ url ('home') }}"
                    class="text-black text-xs align-top"><abbr class="cursor-pointer"
                        title="Beta version">(Beta)</abbr></a>
            </div>
            <div class="flex-grow w-full lg:w-9/12 mt-2 lg:m-1">
                <div class="text-center lg:text-right">
                    <a href="{{ url ('about') }}" class="hover:text-purple-600 transition ease-in duration-200">
                        About
                    </a>
                </div>
            </div>
            <div class="flex-grow w-auto mt-2 lg:m-1">
                <div class="text-center lg:text-right">
                    <a href="{{ url ('fastapi-docs') }}" class="hover:text-purple-600 transition ease-in duration-200">
                        API
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main class="z-10 relative shadow-lg">
        <div class="flex justify-center pt-48 lg:pt-32 pb-20 bg-white min-h-screen">
            <div class="w-1/12 sm:w-2/12 lg:w-3/12"></div>
            <div class="w-full">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="w-1/12 sm:w-2/12 lg:w-3/12"></div>
        </div>
    </main>

    <footer class="z-0 relative my-24">
        <div class="fixed bottom-0 w-full flex justify-center bg-gray-200 p-10">
            <a href="https://github.com/spyker77/skillhunter" target="_blank" rel="noopener">
                <span class="text-gray-600 hover:text-purple-600 transition ease-in duration-200">Crafted 🙌 in
                    Belarus</span>
            </a>
        </div>
    </footer>

</body>

</html>