<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Evgeni Sautin">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <title>{% block title %}SkillHunter{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static ('images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" sizes="32x32" href="{{ static ('images/favicon/favicon-32x32.png') }}">
    <link rel="icon" sizes="16x16" href="{{ static ('images/favicon/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ static ('images/favicon/favicon.ico') }}" />
    <link rel="manifest" href="{{ static ('images/favicon/site.webmanifest') }}">
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="{{ static ('css/tailwind.min.css') }}"> -->
    <link href="{{ static ('css/base.css') }}" rel="stylesheet" rel="preload" as="style">
    <!-- JavaScript -->
    <!-- <script defer src="{{ static ('js/base.js') }}"></script> -->
</head>

<body>

    <header class="z-30 relative">
        <nav class="flex flex-wrap fixed bg-white shadow-lg p-5 w-full">
            <div class="flex-grow text-center lg:text-left text-purple-600">
                <a href="{{ url ('home') }}" class="text-xl">SkillHunter</a><a href="{{ url ('home') }}"
                    class="text-black text-xs align-top no-underline"><abbr class="cursor-pointer"
                        title="Beta version">β</abbr></a>
            </div>
            <div class="flex-grow w-full lg:w-auto mt-2 lg:m-1">
                <div class="text-center lg:text-right">
                    <a href="{{ url ('about') }}" class="hover:text-purple-600 transition ease-in duration-200">
                        About
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main class="z-10 relative shadow-lg">
        <div class="flex justify-center pt-32 pb-20 bg-white min-h-screen">
            <div class="w-1/6"></div>
            <div class="w-4/6">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="w-1/6"></div>
        </div>
    </main>

    <footer class="z-0 relative my-24">
        <div class="fixed bottom-0 w-full flex justify-center bg-gray-200 p-10">
            <a href="https://github.com/spyker77" target="_blank" rel="noopener">
                <span class="text-gray-600 hover:text-purple-600 transition ease-in duration-200">Crafted 🙌 in
                    Belarus</span>
            </a>
        </div>
    </footer>

</body>

</html>