{% extends "_base.html" %}

{% block title %}About • SkillHunter{% endblock title %}
{% block description %}Why this project exists and how SkillHunter helps you identify most in-demand skills in the job
market. Do not waste time learning too much. Quickly get a new position!{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">What this is all about</h1>

<p class="text-gray-600 pb-3">
    SkillHunter is all about helping you and your mates identify the most in-demand skills in the job market in order to
    find a new position as soon as possible. Cut the bullshit and prepare yourself in the most efficient way, no need to
    learn everything!
</p>
<p class="text-gray-600 pb-3">
    What if you asked yourself the wrong question: "What do I need to learn?" Whereas a better one could be: "What I
    don't need to learn?" The latter helps you save a ton of time by avoiding unnecessary work when time is the
    most valuable – at the very beginning of unknown – that's where the SkillHunter really shines.
</p>
<p class="text-gray-600 pb-3">
    Just try to search something like <abbr class="cursor-pointer"
        title="Quality Assurance engineers evaluate the quality of specifications and technical design documents in order to provide timely, relevant and meaningful feedback.">QA
        engineer</abbr> and explore skills ranked by their frequency, where a number indicates how often companies
    ask for a particular skill.
</p>
<p class="text-gray-600 pb-8">
    For example, entering <abbr class="cursor-pointer"
        title="Python developers typically write server-side web application logic as well as test and debug the programs or integrate third-party services into the application.">python
        developer</abbr> and after a while you will get a result similar to the following:
</p>

<p class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Python"
        class="hover:text-purple-600 transition ease-in duration-200" target="_blank" rel="noopener">Python</a> – <span
        class="rounded-full bg-purple-600 text-white text-sm px-3 py-1 shadow-md hover:shadow-xl transition ease-in duration-200">685</span>
</p>
<p class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Django"
        class="hover:text-purple-600 transition ease-in duration-200" target="_blank" rel="noopener">Django</a> – <span
        class="rounded-full bg-purple-600 text-white text-sm px-3 py-1 shadow-md hover:shadow-xl transition ease-in duration-200">150</span>
</p>
<p class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is AWS" class="hover:text-purple-600 transition ease-in duration-200"
        target="_blank" rel="noopener">AWS</a> – <span
        class="rounded-full bg-purple-600 text-white text-sm px-3 py-1 shadow-md hover:shadow-xl transition ease-in duration-200">110</span>
</p>
<p class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is JavaScript"
        class="hover:text-purple-600 transition ease-in duration-200" target="_blank" rel="noopener">JavaScript</a> –
    <span
        class="rounded-full bg-purple-600 text-white text-sm px-3 py-1 shadow-md hover:shadow-xl transition ease-in duration-200">107</span>
</p>
<p class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Docker"
        class="hover:text-purple-600 transition ease-in duration-200" target="_blank" rel="noopener">Docker</a> – <span
        class="rounded-full bg-purple-600 text-white text-sm px-3 py-1 shadow-md hover:shadow-xl transition ease-in duration-200">103</span><br>...
</p>

{% endblock content %}