{% extends "_base.html" %}

{% block title %}About • SkillHunter{% endblock title %}
{% block description %}Why this project exists and how SkillHunter helps you identify most in-demand skills in the job
market. Do not waste time learning too much. Quickly get a new position!{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">What this is all about</h1>

<p class="text-gray-600 pb-3">
    SkillHunter is all about helping you and your mates identify the most in-demand skills in the job market in order to
    find a new position as soon as possible. Cut the bullshit and prepare yourself in the most efficient way, no need to
    learn everything!
</p>
<p class="text-gray-600 pb-3">
    What if you asked yourself the wrong question: "What do I need to learn?" Whereas a better one could be: "What I
    don't need to learn?" The latter helps you save a ton of time by avoiding unnecessary work when time is the
    most valuable – at the very beginning of unknown – that's where the SkillHunter really shines.
</p>
<p class="text-gray-600 pb-3">
    Just try to search something like <abbr
        class="cursor-pointer underline decoration-fuchsia-500 decoration-wavy decoration-1"
        title="Quality Assurance engineers evaluate the quality of specifications and technical design documents in order to provide timely, relevant and meaningful feedback.">QA
        engineer</abbr> and explore skills ranked by their frequency, where a number indicates how often companies
    ask for a particular skill.
</p>
<p class="text-gray-600 pb-8">
    For example, entering <abbr class="cursor-pointer underline decoration-fuchsia-500 decoration-wavy decoration-1"
        title="Python developers typically write server-side web application logic as well as test and debug the programs or integrate third-party services into the application.">python
        developer</abbr> and after a while you will get a result similar to the following:
</p>

<div class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Python"
        class="hover:text-fuchsia-500 transition ease-in duration-200" target="_blank" rel="noopener">Python</a> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">1062</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Django"
        class="hover:text-fuchsia-500 transition ease-in duration-200" target="_blank" rel="noopener">Django</a> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">206</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is Docker"
        class="hover:text-fuchsia-500 transition ease-in duration-200" target="_blank" rel="noopener">Docker</a> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">151</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <a href="https://www.google.com/search?q=What is PostgreSQL"
        class="hover:text-fuchsia-500 transition ease-in duration-200" target="_blank" rel="noopener">PostgreSQL</a> –
    <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">145</span>
</div>
<div class="text-center text-lg font-semibold pb-8">
    <a href="https://www.google.com/search?q=What is Git" class="hover:text-fuchsia-500 transition ease-in duration-200"
        target="_blank" rel="noopener">Git</a> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">144</span><br>...
</div>

<p class="text-gray-600 pb-3">
    Continuing the idea of how to help people quickly find a job in a rapidly changing world under the pressure of
    automation of labor-intensive work and AI in the creative industries, you can also upload the resume and allow
    SkillHunter to pick tailored vacancies that are sorted by the number of your unique skills identified in a vacancy
    description. It might give you a better perspective of the opportunities that lie ahead or shorten the transition
    period by highlighting positions to which you are eligible right now and those that require some stuff to learn.
</p>
<p class="text-gray-600 pb-3">
    Beyond that, there are still plenty of room for improvement though, including support for different
    file formats, integration with Telegram, sourcing more data about available jobs, expanding the handpicked list of
    skills to look for and recommendation of missing ones in the current skill set, additional API endpoints and the
    wish list goes on and on – which is why you still see the Beta badge next to the logo.
</p>
<p class="text-gray-600 pb-8">
    Nevertheless, you can already get a pretty interesting result and expect even more in the future:
</p>

<div class="text-center text-lg font-semibold pb-2">
    <span class="hover:text-fuchsia-500 transition ease-in duration-200">Azure Managed Services Lead Engineer</span> –
    <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">15</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <span class="hover:text-fuchsia-500 transition ease-in duration-200">Application Developer</span> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">14</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <span class="hover:text-fuchsia-500 transition ease-in duration-200">Google Cloud Engineer</span> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">14</span>
</div>
<div class="text-center text-lg font-semibold pb-2">
    <span class="hover:text-fuchsia-500 transition ease-in duration-200">Cloud Operations Manager</span> –
    <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">13</span>
</div>
<div class="text-center text-lg font-semibold pb-8">
    <span class="hover:text-fuchsia-500 transition ease-in duration-200">Automation Engineer II</span> – <span
        class="rounded-full bg-fuchsia-500 text-white text-sm px-3 py-1 shadow-md shadow-fuchsia-500/20 hover:shadow-xl hover:shadow-fuchsia-500/50 transition ease-in duration-200">12</span><br>...
</div>
<p class="text-gray-600 pb-3">
    ⚠️ Privacy notice: your uploaded resume is loaded into memory and only stays there as long as you are on the page
    with tailored vacancies. Once you leave this page, your resume gets removed so that no personal data is stored
    within the system for a long time. To make sure it's true, dive into the source code available via the hyperlink in
    the footer.
</p>
{% endblock content %}
