<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <div class="rounded-lg text-center overflow-hidden shadow-lg hover:shadow-2xl p-10 transition ease-in duration-200">
        <picture>
            <source srcset="{{ static ('images/courses/skillshare_logo.webp') }}" type="image/webp">
            <img class="m-auto w-24 text-lg font-semibold" src="{{ static ('images/courses/skillshare_logo.png') }}"
                alt="Skillshare">
        </picture>
        <div>
            <p class="text-gray-600 py-5">
                Skillshare is a learning platform with online classes taught by the world's best practitioners.
            </p>
        </div>
        <div class="pt-3">
            <a href="https://www.skillshare.com/search?query={{ skills_dict.vacancy_name | urlencode }}"
                class="bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-2 px-10 border border-purple-600 hover:border-transparent rounded-full transition ease-in duration-200"
                role="button" target="_blank" rel="noopener">Try it</a>
        </div>
    </div>

    <div class="rounded-lg text-center overflow-hidden shadow-lg hover:shadow-2xl p-10 transition ease-in duration-200">
        <picture>
            <source srcset="{{ static ('images/courses/udemy_logo.webp') }}" type="image/webp">
            <img class="m-auto w-24 text-lg font-semibold" src="{{ static ('images/courses/udemy_logo.png') }}"
                alt="Udemy">
        </picture>
        <div>
            <p class="text-gray-600 py-5">
                Udemy is an online learning and teaching marketplace with over 100000 courses and 24 million students.
            </p>
        </div>
        <div class="pt-3">
            <a href="https://www.udemy.com/courses/search/?q={{ skills_dict.vacancy_name | urlencode }}"
                class="bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-2 px-10 border border-purple-600 hover:border-transparent rounded-full transition ease-in duration-200"
                role="button" target="_blank" rel="noopener">Try it</a>
        </div>
    </div>

    <div class="rounded-lg text-center overflow-hidden shadow-lg hover:shadow-2xl p-10 transition ease-in duration-200">
        <picture>
            <source srcset="{{ static ('images/courses/edx_logo.webp') }}" type="image/webp">
            <img class="m-auto w-24 text-lg font-semibold" src="{{ static ('images/courses/edx_logo.png') }}" alt="edX">
        </picture>
        <div>
            <p class="text-gray-600 py-5">edX is a massive open online course provider created by founding partners
                Harvard
                and MIT.</p>
        </div>
        <div class="pt-3">
            <a href="https://www.edx.org/search?q={{ skills_dict.vacancy_name | urlencode }}"
                class="bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-2 px-10 border border-purple-600 hover:border-transparent rounded-full transition ease-in duration-200"
                role="button" target="_blank" rel="noopener">Try it</a>
        </div>
    </div>
</div>