{% extends "_base.html" %}

{% block title %}400 error{% endblock title %}
{% block description %}You've got 400 Bad Request error due to malformed request syntax, invalid request message
framing, or deceptive request routing.{% endblock description %}

{% block content %}
<h1 class="text-center text-4xl font-medium pb-5">Aaaaaghhh!</h1>
<p class="text-center text-gray-600 pb-8">Looks like there is something wrong with the request... How about trying
    again on the home page?</p>
<div class="text-center">
    <a class="bg-transparent hover:bg-purple-600 text-purple-600 hover:text-white py-2 px-4 border border-purple-600 hover:border-transparent rounded-full shadow-lg hover:shadow-2xl transition ease-in duration-200"
        href="{% url 'home' %}" role="button">Try
        again</a>
</div>
{% endblock content %}