{% extends "_base.html" %}

{% block title %}About{% endblock title %}
{% block description %}Why this project exists and how Skillhunter helps you identify most in-demand skills in the job
market. Do not waste time learning too much. Quickly get a new position!{% endblock description %}

{% block content %}
<h1 class="mt-5  text-center">What this is all about</h1>
<p>
    Skillhunter is all about helping you and your mates identify the most in-demand skills in the job market in order to
    find a new
    job as soon as possible. Cut the bullshit and prepare yourself in the most efficient way, no need to learn
    everything!
</p>
<p>
    Just try to search something like <b>python developer</b> and explore skills ranked by their frequency, where a
    number
    indicates how often companies call a particular skill.
</p>
<p>
    For example, entering <b>python developer</b> and after a short wait (for popular positions the process may take up
    to several minutes) you will get a result similar to the following:
</p>
<h5 class="text-center">
    Python – <span class="badge badge-primary badge-pill">747</span>
</h5>
<h5 class="text-center">
    Django – <span class="badge badge-primary badge-pill">239</span>
</h5>
<h5 class="text-center">
    Git – <span class="badge badge-primary badge-pill">154</span>
</h5>
<h5 class="text-center">
    Docker – <span class="badge badge-primary badge-pill">145</span>
</h5>
<h5 class="text-center">
    PostgreSQL – <span class="badge badge-primary badge-pill">138</span><br>...
</h5>
{% endblock content %}