html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.badge-primary {
    background-color: #2962FF;
}

.navbar-brand {
    color: #2962FF;
}

.btn-outline-primary {
    color: #2962FF;
    border-color: #2962FF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
}